<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/Testdb" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop> 
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hiberante.format_sql">true</prop>
			</props>
		</property>
		<!-- hibernate配置文件放置位置，这个配置文件似乎也没有多大的作用了 -->
		<property name="configLocations">
			<list>
				<value>
					classpath:/hibernate.cfg.xml
				</value>
			</list>
		</property>
	</bean>
	
	<!-- <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<tx:advice id="personServiceTxAdvice" transaction-manager="transactionManager"> 
        <tx:attributes>
            <tx:method name="delete*" isolation="DEFAULT" read-only="false" propagation="REQUIRED" /> 
            <tx:method name="update*" isolation="DEFAULT" read-only="false" propagation="REQUIRED" /> 
            <tx:method name="save*" isolation="DEFAULT" read-only="false" propagation="REQUIRED" />  
            <tx:method name="*" isolation="DEFAULT" read-only="false" propagation="REQUIRED" />
        </tx:attributes> 
    </tx:advice> 

    <aop:config> 
        <aop:pointcut id="personServiceTxPointcut" expression="execution(* com.journaldev.dao.PersonDAO.*(..))" /> 
        <aop:advisor id="personServiceTxAdvisor" advice-ref="personServiceTxAdvice" pointcut-ref="personServiceTxPointcut" /> 
    </aop:config> -->
	
	<bean id="personDAO" class="com.journaldev.dao.PersonDAOImpl">
		<property name="sessionFactory1" ref="sessionFactory" />
		<property name="sessionFactory2" ref="sessionFactory" />
	</bean>
</beans>
